{% extends 'gsw/templates/base.html' %}

{% block content %}

<div class="jumbotron bgimg custom-margin2 jumbotron-custom">
    <div class="container-fluid custom-container-fluid">
	<h1>Experienced International IT Consultant</h1>
	<p>Helping deliver original and dynamic solutions</p>
	<p></p>
</div>
<div id="about" class="container-fluid section-custom custom-margin2">
	<h1>About</h1>
	<p>Highly motivated and focused. Capable of effectively seeing projects through from start to finish. Excellent team working skills and able to support and encourage colleagues.</p>
	<p>Enjoys challenge and has a problem solving outlook. Keen to find new approaches and share ideas.</p>
</div>
<div id="apps" class="container-fluid section-custom custom-margin2">
	<h1>Projects</h1>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="contact" class="container-fluid section-custom custom-margin2">
	<h1>Skills</h1>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="contact" class="container-fluid section-custom custom-margin2">
	<h1>Continous Improvements</h1>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
	<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>

{% endblock %}
