/*------------------------------*\
    Grid System
\*------------------------------*/

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.jumbotron-custom { 
    height: 100% !important; 
    margin-bottom: 0;
    border-radius: 0; 
} 
/*------------------------------*\
    Styling
\*------------------------------*/

.color-grade-1 {
 background-color:#FAFBFD;
} 
.color-grade-2 {
 background-color:#F7F9FA;
} 
.color-grade-3 {
 background-color:#F2F9FF;
} 
#about {padding-top:50px;padding-bottom:50px;height:auto;color: #888888; background-color: #fff;}
#experience {padding-top:50px;padding-bottom:px;height:auto;color: #444444; background-color: #FAFBFD;}
#projects {padding-top:50px;padding-bottom:px;height:auto;color: #444444; background-color: #F7F9FA;}
#skills {padding-top:50px;padding-bottom:50px;height:auto;color: #444444; background-color: #F2F9FF;}
#ContinuousImprovements{padding-top:50px;height:auto;color: #444444; background-color: #FFFFFF;} 
#splash {
	padding-top: 50px;
	padding-bottom: 125px;
}
.section-custom {
border-top: .1px solid #CAD5DA;
}
#splash h1 { 
    text-align: right; 
    color: white !important; 
} 
#splash h2 { 
    text-align: right; 
} 
#CI_list h4 {
text-align: left; 
}
#CI_list dl {
text-align: left;
}
#about p {
text-align: justify;
}
#highlights {
list-style:none;
}
.social-icons {
list-style: none;
display: table;
vertical-align: middle;
}
.roles {
text-align: left;
font-size:1.5em;
color: #757575;
}
.roles dd {
        display: list-item;
        list-style-type: circle;
        margin-left: 40px;
}
.roles dt {
        font-weight: normal;
        color: #1A1A1A;
        font-size: 1.6em;
}

#copy-info {
    display: table-cell;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    vertical-align: middle;
    color: #222;
    font-size: 0.8em;
    text-align: center;
}
#x {
float: left;
padding-right: 10px;
padding-bottom: 10px;
}
#y {
float:left;
padding-left:5px;
}

#copy-info a {
	color: #222;
}
body {
	background-color:#DBDFE0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	text-align: center;
}
#index h1{ 
font-size:3em; 
color: black; 
} 
#index p{ 
font-size:1.5em; 
color: #757575; 
} 

.separator {
     border-right:1px solid #222; 
     height:20px;
     top: 0px;
     position: absolute;
     padding-left: 180px;
}
h1{ 
font-size:3em;
color: black;
}
.navbar a {
    color: #939393;
    font-size:1em;
    vertical-align:middle;
}
.navbar a:hover{
    color: #939393 !important;

}
.navbar a:visited{
    color: #939393 !important;

}
.navbar-toggle
{   
    background-color:black;
}

#vbar {
	margin-top:0;
	margin-bottom: 0;
	background-color:white;
	border-radius:0;
	border:0;
}

#myNavbar a {
	color: #939393;
	vertical-align:middle;
	text-decoration: none;
}

#myNavbar a:hover{
	color: #939393 !important;
}

#myNavbar a:visited{
	color: #939393 !important;
}

#footer-wrapper {
    /*width: 100%;*/
    min-height: 400px;
    text-align: left;
    z-index: 0;
    border-top: 1px solid #d4dde1;
    /*margin-top: 50px;*/
    background-color: #F7F9FA;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding-top: 100px;
}

#footer-wrapper footer ul {
    padding-top: 4%;
    padding-left: 12%;
    font-size: 1.0em
}
#footer-header h1 {
	font-size: 3em;
	text-align:right;
}
#footer-header a {
	color: black;
	text-decoration: none;
}
#contac a {
color: #222;
text-decoration: none;
} 

#contac  {
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
}
#social li {
	padding-bottom: 20px;
}
#social {
	padding-top: 20px;
	padding-left: 90px;
}

li.telephone { 
background: url("../telephone.png") no-repeat left 5px; 
padding-left: 20px; 
padding-bottom: 20px;
display: block; 
}    
li.blog { 
background: url("../blog.png") no-repeat left 5px; 
padding-left: 20px; 
padding-bottom: 20px;
display: block; 
}    
li.mail { 
background: url("../mail.png") no-repeat left 5px; 
padding-left: 20px; 
display: block; 
}    
li.lock { 
background: url("../lock.png") no-repeat left 5px; 
padding-left: 20px; 
display: block; 
}   




.p {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}
div {
	border: 0px solid #ddd;
	min-height: 10px;
}
.helv-thin {
    font-family: "HelveticaNeueW01-Thin", "Helvetica Neue CE 35 Thin", "Helvetica Neue LT 35 Thin", "Helvetica Neue 35 Thin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.bgimg {
background-image: url("../logos/anocheagh.jpg");
background-size: 100% 100%;
} 
.left-edge {
border-left: 0.5px solid #CAD5DA;
}
.row-footer {
	display: flex;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
#project_detail {
    color: #444444;
    background-color: #FAFBFD;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.item {
height:auto;
}
