body {
    background-color:#DBDFE0;
    padding:0;
    text-align: center;
   
}
.helv-thin {
    font-family: "HelveticaNeueW01-Thin", "Helvetica Neue CE 35 Thin", "Helvetica Neue LT 35 Thin", "Helvetica Neue 35 Thin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.jumbotron-custom {
    height: 90vh;
    margin-bottom: 0;
}
.navbar-custom {
    margin-top:0;
    margin-bottom: 0;
    background-color:white;
    color:#ffffff;
    border-radius:0;
    border:0;
}
.navbar-custom a {
    color: #939393;
    font-size:1em;
    vertical-align:middle;
}
.navbar-custom a:hover{
    color: #939393 !important;

}
.custom-bullet-anchor a::after{
content:"";
border-radius: 10%;
background-color: rgb( 0, 0, 0 );
color: #939393;
opacity: 0.729;
width: 5px;
height: 5px;
margin:2px 50px; 
padding: 0px;
display:inline-block;
}
.navbar-toggle
{
    background-color:black;
}
.custom-margin {
    margin-left: 23%;
    margin-right:23%;
}
.custom-margin2 {
    margin-left: 5%;
    margin-right:5%;
}
.custom-container-fluid {
    text-align: center;
    padding:0;
}
#index h1{
font-size:3em;
color: black;
}
#index p{
font-size:1.5em;
color: #757575;
}
.maxwidth {
max-width: 100%;
}
.bgimg {
background-image: url({% static "background_pattern.png" %});
background-size: 100% 100%;
}
.section-custom {
outline: .1px solid #CAD5DA;
}
#about {padding-top:50px;height:500px;color: #888888; background-color: #fff;}
#apps {padding-top:50px;height:500px;color: #444444; background-color: #F7F9FA;}
#contact {padding-top:50px;height:500px;color: #444444; background-color: #F2F5F6;}
#section41 {padding-top:50px;height:500px;color: #444444; background-color: #fff;}
#section42 {padding-top:50px;height:500px;color: #444444; background-color: #F7F9FA;} 
#footer-wrapper {
    /*width: 100%;*/
    min-height: 400px;
    text-align: center;
    z-index: 0;
    font-size: 12px;
    border-top: 1px solid #d4dde1;
    /*margin-top: 50px;*/
    background-color: #f9fafb
}
#footer-wrapper footer {
    
    text-align: left;
    /*width: 1024px;*/
    letter-spacing: 0.05em
}
#footer-wrapper footer a {
    text-decoration: none
}
#footer-wrapper footer .separator {
    position: relative;
    float: left;
    height: 100%;
    /*width: 0*/
}
#footer-wrapper footer .separator:before {
    content: ' ';
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    left: -2px;
    top: 0;
    background-color: #d4dde1
}
#footer-wrapper footer nav ul {
    position: relative;
    float: left;
    padding: 0;
    /*margin: 0;
    height: 100%;*/
}
#footer-wrapper footer #footer-identity {
    display: block;
    padding-top: 60px
}
#footer-wrapper footer #footer-identity .logo {
    margin-left: 40px;
    height: 35px
}
#footer-wrapper footer #footer-identity .logo:after {
    font-size: 35px;
    top: -1px;
    left: -1px
}
#footer-wrapper footer #footer-main {
    margin: 20px 20px 20px 40px;
    line-height: 2em
}
#footer-wrapper footer #footer-main ul,
#footer-wrapper footer #footer-main .separator {
    margin: 20px;
    z-index: 1;
    height: 165px
}
#footer-wrapper footer #footer-main ul {
    font-size: 1.2em
}
#footer-wrapper footer #footer-main ul#footer-main-nav a,
#footer-wrapper footer #footer-main ul#footer-serv-nav a,
#footer-wrapper footer #footer-main ul#footer-company-nav a {
    color: #222
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity {
    display: block;
    display: none;
    padding-top: 0;
    line-height: 1;
    margin-top: -7px
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity .logo {
    height: 35px;
    width: auto;
    margin-left: 0
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity .logo:after {
    font-size: 35px;
    top: -1px;
    left: -1px
}
#footer-wrapper footer #footer-main ul#footer-serv-nav,
#footer-wrapper footer #footer-main ul#footer-company-nav,
#footer-wrapper footer #footer-main ul#footer-main-nav {
    margin-top: 25px;
    min-width: 114px
}
#footer-wrapper footer #footer-main ul#footer-contact-nav,
#footer-wrapper footer #footer-main ul#footer-service-nav {
    margin-top: 25px
}
#footer-wrapper footer #footer-main ul#footer-contact-nav li,
#footer-wrapper footer #footer-main ul#footer-service-nav li {
    margin: 18px 0
}
#footer-wrapper footer #footer-main ul#footer-contact-nav a,
#footer-wrapper footer #footer-main ul#footer-service-nav a {
    color: #222
}
#footer-wrapper footer #footer-main ul#footer-contact-nav {
    min-width: 190px;
    margin-left: 15px;
    margin-right: 15px
}
#footer-wrapper footer #footer-main ul#footer-service-nav {
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 0
}
#footer-wrapper footer #footer-features {
    margin: 0 20px 35px 20px;
    line-height: 1.9em;
    color: #aaa;
    text-align: center
}
#footer-wrapper footer #footer-features:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 0
}
#footer-wrapper footer #footer-features ul {
    margin: 20px 22px;
    z-index: 1;
    height: 176px
}
#footer-wrapper footer #footer-features .sub-header {
    color: #aaa
}
#footer-wrapper footer #footer-features .compare {
    margin-top: 10px
}
#footer-wrapper footer #legal {
    display: table;
    margin: 0 auto 35px auto;
    height: 3em;
    font-size: 11px
}
#footer-wrapper footer #legal #company-info,
#footer-wrapper footer #legal #terms-and-conditions {
    display: table-cell;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    vertical-align: middle
}
#footer-wrapper footer #legal #company-info,
#footer-wrapper footer #legal .separator {
    padding-right: 20px
}
#footer-wrapper footer #legal #company-info {
    text-align: right
}
#footer-wrapper footer #legal #company-info,
#footer-wrapper footer #legal #terms-and-conditions a {
    color: #bbb
}
#footer-wrapper footer #footer-identity {
    display: none
}
#footer-wrapper footer #footer-main {
    margin-top: 40px
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity {
    display: block
}
#footer-wrapper footer #footer-main ul#footer-main-nav li a,
#footer-wrapper footer #footer-main ul#footer-serv-nav li a,
#footer-wrapper footer #footer-main ul#footer-company-nav li a {
    text-shadow: 0px 1px 0px #fff
}
#footer-wrapper footer #footer-features ul li a {
    color: #aaaaaa;
    text-shadow: 0px 1px 0px #fff
}
#footer-wrapper footer #legal #company-info,
#footer-wrapper footer #legal #terms-and-conditions {
    color: #aaaaaa
}
#footer-wrapper footer #legal #company-info a,
#footer-wrapper footer #legal #terms-and-conditions a {
    color: #aaaaaa
}