/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background-color:#DBDFE0;
  text-align: center;
  color: #888;
  font-family: "HelveticaNeueW01-Thin", "Helvetica Neue CE 35 Thin", "Helvetica Neue LT 35 Thin", "Helvetica Neue 35 Thin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 300 16px/16px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
font-size:3em;
line-height:;
color: black;
}

p {
font-size:1.5em;
line-height:;
color: #757575;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.custom-margin {
    margin-left: 15%;
    margin-right:15%;
}
.custom-margin2 {
    margin-left: 5%;
    margin-right:5%;
}
.custom-margin3 {
    margin-top: 5%;
    margin-left: 20%;
    margin-right:20%;
}
.custom-margin4 {
	margin-left: 20%;
	margin-right: 20%;
}
.custom-container-fluid {
    text-align: center;
    padding:0;
}

.maxwidth {
max-width: 100%;
}

/*
  ========================================
  Navigation
  ========================================
*/

.navbar-custom {
    margin-top:0;
    margin-bottom: 0;
    background-color:white;
    color:#ffffff;
    border-radius:0;
    border:0;
}
.navbar-custom a {
    color: #939393;
    font-size:1em;
    vertical-align:middle;
}
.navbar-custom a:hover{
    color: #939393 !important;

}
.navbar-custom a:visited{
    color: #939393 !important;

}
.navbar-toggle
{
    background-color:black;
}

/*
  ========================================
  Sections
  ========================================
*/

.jumbotron-custom {
    height: 100%;
    margin-bottom: 0;
}

.section-custom {
outline: .1px solid #CAD5DA;
}

#about {padding-top:50px;height:auto;color: #888888; background-color: #fff;}

#experience {padding-top:50px;padding-bottom:px;height:auto;color: #444444; background-color: #FAFBFD;}

#projects {padding-top:50px;padding-bottom:px;height:auto;color: #444444; background-color: #F7F9FA;}

#skills {padding-top:50px;height:auto;color: #444444; background-color: #F2F9FF;}

#ContinuousImprovements{padding-top:50px;height:auto;color: #444444; background-color: #FFFFFF;}

#project_detail {

	color: #444444; 
	background-color: #FAFBFD;
	background-image: url(../img/jumbotronbackground.jpg);
    	background-position: 0% 25%;
    	background-size: cover;
    	background-repeat: no-repeat;
}

* {margin: 0; padding: 0;}

#container {
	width: auto;
	overflow: hidden;
	background: white;
}

/*
  ========================================
  Footer
  ========================================
*/

#footer-wrapper {
    /*width: 100%;*/
    min-height: 400px;
    text-align: center;
    z-index: 0;
    font-size: 12px;
    border-top: 1px solid #d4dde1;
    /*margin-top: 50px;*/
    background-color: #F7F9FA;
}
#footer-wrapper footer {
    
    text-align: left;
    /*width: 1024px;*/
    letter-spacing: 0.05em
}
#footer-wrapper footer a {
    text-decoration: none
}
#footer-wrapper footer .separator {
    position: relative;
    float: left;
    height: 100%;
    /*width: 0*/
}
#footer-wrapper footer .separator:before {
    content: ' ';
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    left: -2px;
    top: 0;
    background-color: #d4dde1
}
#footer-wrapper footer nav ul {
    position: relative;
    float: left;
    padding: 0;
    /*margin: 0;
    height: 100%;*/
}
#footer-wrapper footer #footer-identity {
    display: block;
    padding-top: 60px
}
#footer-wrapper footer #footer-identity .logo {
    margin-left: 40px;
    height: 35px
}
#footer-wrapper footer #footer-identity .logo:after {
    font-size: 35px;
    top: -1px;
    left: -1px
}
#footer-wrapper footer #footer-main {
    margin: 20px 20px 20px 40px;
    line-height: 2em
}
#footer-wrapper footer #footer-main ul,
#footer-wrapper footer #footer-main .separator {
    margin: 20px;
    z-index: 1;
    height: 165px
}
#footer-wrapper footer #footer-main ul {
    font-size: 1.2em
}
#footer-wrapper footer #footer-main ul#footer-main-nav a,
#footer-wrapper footer #footer-main ul#footer-a1-nav a,
#footer-wrapper footer #footer-main ul#footer-a2-nav a {
    color: #222
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity {
    display: block;
    display: none;
    padding-top: 0;
    line-height: 1;
    margin-top: -7px
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity .logo {
    height: 35px;
    width: auto;
    margin-left: 0
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity .logo:after {
    font-size: 35px;
    top: -1px;
    left: -1px
}
#footer-wrapper footer #footer-main ul#footer-a1-nav,
#footer-wrapper footer #footer-main ul#footer-a2-nav,
#footer-wrapper footer #footer-main ul#footer-main-nav {
    margin-top: 25px;
    min-width: 114px;
}
#footer-wrapper footer #footer-main ul#footer-contact-nav,
#footer-wrapper footer #footer-main ul#footer-service-nav {
    margin-top: 25px
}
#footer-wrapper footer #footer-main ul#footer-contact-nav li,
#footer-wrapper footer #footer-main ul#footer-service-nav li {
    margin: 18px 0
}
#footer-wrapper footer #footer-main ul#footer-contact-nav a,
#footer-wrapper footer #footer-main ul#footer-service-nav a {
    color: #222
}
#footer-wrapper footer #footer-main ul#footer-contact-nav {
    min-width: 190px;
    margin-left: 15px;
    margin-right: 15px
}
#footer-wrapper footer #footer-main ul#footer-service-nav {
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 0
}
#footer-wrapper footer #footer-features {
    margin: 0 20px 35px 20px;
    line-height: 1.9em;
    color: #aaa;
    text-align: center
}
#footer-wrapper footer #footer-features:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 0
}
#footer-wrapper footer #footer-features ul {
    margin: 20px 22px;
    z-index: 1;
    height: 176px
}
#footer-wrapper footer #footer-features .sub-header {
    color: #aaa
}
#footer-wrapper footer #footer-features .compare {
    margin-top: 10px
}
#footer-wrapper footer #cw {
    display: table;
    margin: 0 auto 35px auto;
    height: 3em;
    font-size: 11px
}
#footer-wrapper footer #cw #company-info ,
#footer-wrapper footer #cw #creation #footer-social {
    display: table-cell;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    vertical-align: middle
}
#footer-wrapper footer #cw #company-info ,
#footer-wrapper footer #cw .separator {
    padding-right: 20px
}
#footer-wrapper footer #cw #company-info {
    text-align: right
}
#footer-wrapper footer #cw #company-info,
#footer-wrapper footer #cw #creation a {
    color: #bbb
}
#footer-wrapper footer #footer-identity {
    display: none
}
#footer-wrapper footer #footer-main {
    margin-top: 40px
}
#footer-wrapper footer #footer-main ul#footer-main-nav #footer-identity {
    display: block
}
#footer-wrapper footer #footer-main ul#footer-main-nav li a,
#footer-wrapper footer #footer-main ul#footer-a1-nav li a,
#footer-wrapper footer #footer-main ul#footer-a2-nav li a {
    text-shadow: 0px 1px 0px #fff
}
#footer-wrapper footer #footer-features ul li a {
    color: #aaaaaa;
    text-shadow: 0px 1px 0px #fff
}
#footer-wrapper footer #cw #company-info,
#footer-wrapper footer #cw #creation {
    color: #aaaaaa
}
#footer-wrapper footer #cw #company-info a,
#footer-wrapper footer #cw #creation a {
    color: #aaaaaa
}


.bgimg {
background-image: url("../logos/anocheagh.jpg");
background-size: 100% 100%;
}   
li.telephone {
background: url("../telephone.png") no-repeat left 5px;
padding-left: 20px;
display: block;
}   
li.blog {
background: url("../blog.png") no-repeat left 5px;
padding-left: 20px;
display: block;
}   
li.mail {
background: url("../mail.png") no-repeat left 5px;
padding-left: 20px;
display: block;
}   
li.lock {
background: url("../lock.png") no-repeat left 5px;
padding-left: 20px;
display: block;
}   
#logos img{
padding-top: 10px;
padding-bottom: 10px;
}
#project_detail p {
	 text-align: justify;
}
#splash h1 {
    text-align: right;
    color: white;
}
#splash h2 {
    text-align: right;
}
#CI_list ul {

}
#CI_list h4 {
text-align: left; 
}
#CI_list dl {
text-align: left;
}
#about p {
text-align: justify;
}
#footer-service-nav {
list-style: none;
display: block;
}
#highlights {
list-style:none;
}
.social-icons {
list-style: none;
display: table;
vertical-align: middle;
}
.roles {
text-align: left;
font-size:1.5em;
color: #757575;
}
.roles dd {
	display: list-item;
	list-style-type: circle;
	margin-left: 40px;
}
.roles dt {
	font-weight: normal;
	color: #1A1A1A;
	font-size: 1.6em;
}
