.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}
.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}
#tile1{
    background: ;
}
#tile2{
    background: ;
}
#tile3{
    background: ;
}
#tile4{
    background-size: cover;
}
#tile5{
    background: ;
}
#tile6{
}

#tile7{
    background: white;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}
.img-responsive {
    }
#projects h1{ 
	font-size:3em;
	color: black;
}
#projects a{
	font-size:1.5em;
	color: #757575;
}

