{% load staticfiles %}
{% load i18n %}
{% load tz %}
{% get_available_languages as languages %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="IT Finance Consultant with 10 years of experience in Global projects">
    <meta property="twitter:account_id" content=""/>
    <meta name="google-site-verification" content=""/>
    <!-- tab icon should be loaded into server rather than html page! -->
    <link rel="shortcut icon" href={% static "image.png" %} type="image/ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={% static "css/gsw.css" %}>
    <title>Graeme Stewart Watt - IT Finance Consultant</title>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	    e.src='//www.google-analytics.com/analytics.js';
	    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
  </head>
  <body id="index" class="helv-thin">
     <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-inverse navbar-custom maxwidth">
		<div class="container-fluid custom-margin">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			    </button>
			    <!---<a class="navbar-left" href="#"><img src={% static "image.png" %}></a>-->
			    <a class="navbar-brand" href="/">GSW <small>M.A(Hons) M.A PMP</small></a>         
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
			    <div class="navbar-form navbar-right">
			    </div>
			    <ul class="nav navbar-nav navbar-right">
				{% get_current_language as LANGUAGE_CODE %}
				<li class=""><a href="/./{{ LANGUAGE_CODE }}/#about" data-toggle="collapse" data-target=".nav-collapse">{% trans "About" %}</a></li>
				<!--- 	<li class=""><a href="/./{{ LANGUAGE_CODE }}/apps" data-toggle="collapse" data-target=".nav-collapse">{% trans "Apps" %}</a></li> -->
				<li class=""><a href="/./{{ LANGUAGE_CODE }}/#projects" data-toggle="collapse" data-target=".nav-collapse">{% trans "Projects" %}</a></li>
				<li><a href="/./{{ LANGUAGE_CODE }}/#footer-main" data-toggle="collapse" data-target=".nav-collapse">{% trans "Contact" %}</a></li>
				  <!---  {% if user.is_authenticated %}
					<li><a id="logout" href="/accounts/logout" class="">{% trans "Sign Out" %}</a></li>
				    {% else %} 
					<li><a id="google_login" href="/accounts/google/login" class="">{% trans "Sign in" %}</a></li>
				    {% endif %} --> 

				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Language" %}<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				    {% for language in languages %}
					{% with image_static='images/i18n/'|add:language.0|add:'.png' %}
					<li class="{% ifequal current_language language.0 %}active{% endifequal %}">
					<a class="" href="/./{{ language.0 }}/" title="{{ language.1 }}"><img src="{% static image_static %}" alt="{{ language.0 }}" /></img><span></span></a></li>
					{% endwith %}
				    {% endfor %}
			        </ul>
		    </div>
		</div>
        </nav>
	{% block content %}
	{% endblock %}
	<div>
	<div id="footer-wrapper" class="container-fluid section-custom">
		<footer class="clearfix">
			<nav id="footer-main" class="clearfix">
				<!--- <ul id="footer-a1-nav">
				</ul>
				<ul id="footer-a2-nav">
				</ul> -->
				<div class="custom-margin4">
				<ul id="footer-main-nav">
					<div id="footer-identity" class="clearfix">
						<div class="logo">
							<h1><a href="/" title="Graeme Stewart Watt">Graeme Stewart Watt</a></h1>
							<h4 style="text-align:right;">M.A(Hons) M.A PMP</h4>
						</div>
					</div>
				</ul>
				<div class="separator"></div>
				<ul id="footer-contact-nav">
					<li class="blog"><a href="/blog"><span></span>blog</a></li>
					<li class="telephone"><a href="tel:+447505728569"><span></span>+447505728569</a></li>
					<li class="telephone"><a href="tel:+34669152421"><span></span>+34669152421</a></li> <li class="mail"><a href="mailto:geewatt@gmail.com"><span></span>geewatt@gmail.com</a></li>
				</ul>
				<div class="separator"></div>
				<ul id="footer-service-nav">
					<li><a href="https://twitter.com/geewatt" target="_blank"><img src="{% static "logos/twitter.png" %}" alt="twitter"></img></a></li>
					<li><a href="https://www.linkedin.com/in/graeme-stewart-watt-ab001a51" target="_blank"><img src="{% static "logos/linkedin.png" %}" alt="linkedin"></img></a></li>
					<li><a href="https://docs.google.com/document/d/1ejTL2Q_fPcuxS-eHH0Ur7FzTQ7jV69c6hxj5BOuUtPw/pub" target="_blank"><img src="{% static "logos/cv.png" %}" alt="cv"></img></a></li>
					<!-- <li><a href="https://www.facebook.com/graeme.watt.984" target="_blank"><img src="{% static "logos/facebook.png" %}" alt="facebook"></img></a></li> 
					   {% if user.is_authenticated %}
						<li class="lock"><a id="logout" href="/accounts/logout" class="helv-bold">Logout</a></li>
					    {% else %} 
						<li class="lock"><a id="google_login" href="/accounts/google/login" class="helv-bold">Login in with Google</a></li>
					    {% endif %} 
						<li> </li> -->
				</ul>
			</div>
		</nav>
		<div id="cw" class="clearfix">
			<div id="company-info">
				&copy; Graeme Stewart Watt {% now "Y" %}
			</div>
			<div class="separator"></div>
			<div id="company-info"><a href="https://www.djangoproject.com" target="_blank">Powered by Django and PostgreSQL</a></div>
		</div>
	</footer>
	</div>
</body>
</html>
