{% extends 'gsw/base.html' %}
{% load staticfiles%}
{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div>
	<div class="jumbotron bgimg custom-margin2 jumbotron-custom">
	    <div class="container-fluid custom-container-fluid">
		<h1>Experienced International IT Consultant</h1>
		<p>Helping deliver original and dynamic solutions</p>
		<p></p>
	</div>
</div>
<div id="about" class="container-fluid section-custom custom-margin2">
        <h1>About</h1>
        <p>Highly motivated and focused. Capable of effectively seeing projects through from start to finish. Excellent team working skills and able to support and encourage colleagues.</p>
        <p>Enjoys challenge and has a problem solving outlook. Keen to find new approaches and share ideas.</p>
</div>
<div id="apps" class="container-fluid section-custom custom-margin2">
	<h1>Projects</h1>
	<div class="container dynamicTile">
		<div class="row ">
		    <div class="col-sm-2 col-xs-4">
			{% for project in projects %}
			<div id="tile1" class="tile">
				 <div class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
						<div class="item active">
						       <img src="{{ project.company_logo_url }}" class="img-responsive" style="width:180px;height:60px;"/>
							<h2><a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a></h2>
					        </div>
						    <div class="item">
						       <img src="http://handsontek.net/demoimages/tiles/twitter2.png" class="img-responsive"/>
						    </div>
						  </div>
					</div>
	 
				</div>
			</div>
		     </div>
		</div>
	</div>
	{% endfor %}
</div>
<div id="contact" class="container-fluid section-custom custom-margin2">
        <h1>Skills</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="contact" class="container-fluid section-custom custom-margin2">
        <h1>Continous Improvements</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
{% endblock %}
