{% extends 'gsw/base.html' %}
{% load staticfiles%}
{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/tiles.css" %}"
<div>
	<div class="jumbotron bgimg jumbotron-custom">
	    <div class="container-fluid custom-container-fluid">
		<h1>Experienced International IT Consultant</h1>
		<p>Helping deliver original and dynamic solutions</p>
	</div>
</div>
<div id="about" class="container-fluid section-custom">
        <h1>About</h1>
        <p>Highly motivated and focused. Capable of effectively seeing projects through from start to finish. Excellent team working skills and able to support and encourage colleagues.</p>
        <p>Enjoys challenge and has a problem solving outlook. Keen to find new approaches and share ideas.</p>
</div>

<div id="projects" class="container-fluid section-custom">
    <h1>Projects</h1>
    <div class="custom-margin3 text-center">
        {% for project in projects %}
            {% if forloop.first %}
                <div class="row">
            {% elif forloop.counter|divisibleby:4 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-4">
                <div id="tile{{forloop.counter}}" class="tile tile-square-y">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
				    <a href="{{ project.company_url }}" target="_blank">
					    <img src="{{ project.company_logo_url }}" alt="{{project.company_logo_alt }}" class="img-responsive center-block">
				    </a>
				    <br></br>
				    <p><a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a></p></a>
                            </div>
                            <div class="item">
			        <h3><a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a></h3>
				<br></br>
				<p>lajf asdlfjh asdlfhja lhjasfd;lkh asdflkjhasdf lhjasfd lhjasdf ajshfd</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.first %}
            {% elif forloop.counter|divisibleby:3 %}</div>{% endif %}
        {% endfor %}
		</div>
</div>

<div id="contact" class="container-fluid section-custom">
    <h1>Skills</h1>
    <h2>Applications / Frameworks</h2>
        <!--- <div id="container" class="container-fluid section-custom">
            <header>
                <h1>Animated Photo Banner</h1>
            </header>
            
            <!-- Each image is 350px by 233px -->
            <div class="photobanner" class="container-fluid section-custom">
                <img class="first" src={% static "logos/SAP.png" %} alt="" />
                <img src={% static "logos/github.png" %} alt="" />
                <img src={% static "logos/saphana.png" %} alt="" />
                <img src={% static "logos/linux.png" %} alt="" />
                <img src={% static "logos/bootsrep.png" %} alt="" />
                <img src={% static "logos/django.png" %} alt="" />
                <img src={% static "logos/SAP.png" %} alt="" />
                <img src={% static "logos/github.png" %} alt="" />
                <img src={% static "logos/saphana.png" %} alt="" />
                <img src={% static "logos/linux.png" %} alt="" />
            </div>
            <h2>Languages</h2>
                        <div class="photobanner" class="container-fluid section-custom">
                <img class="first" src={% static "logos/python.png" %} alt="" />
                <img src={% static "logos/vb_net.png" %} alt="" />
                <img src={% static "logos/html5.png" %} alt="" />
                <img src={% static "logos/css3.png" %} alt="" />
                <img src={% static "logos/python.png" %} alt="" />
                <img src={% static "logos/vb_net.png" %} alt="" />
                <img src={% static "logos/html5.png" %} alt="" />
                <img src={% static "logos/angular.png" %} alt="" />
                <img src={% static "logos/saphana.png" %} alt="" />
                <img src={% static "logos/linux.png" %} alt="" />
            </div>
       <!--- </div> -->
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="contact" class="container-fluid section-custom">
        <h1>Continous Improvements</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
 <script src={% static "js/tiles.js" %}></script>
{% endblock %}
